.header {
  position: fixed;
  padding: 25px 0;
  width: 100%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  transition: opacity ease 0.5s;

  &.hidden {
    opacity: 0;
  }
}

.menu {
  &__list {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 40px;
  }

  &__item {
    width: max-content;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      width: 0;
      background-color: $white;
      z-index: 55;
      left: 50%;
      transform: translateX(-50%);
      bottom: -3px;
      transition: all ease-out 0.2s;
    }

    &:hover {
      &.menu__item::after {
        width: 100%;
      }
    }
  }

  &__link {
    color: $white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.4s;
  }
}

.hamburger {
  display: none;
  margin-right: 20px;
  flex-direction: column;
  padding-top: 5px;

  & span {
    width: 35px;
    height: 2px;
    background-color: $white;
    margin-top: 5px;
    transition: 0.7s;
  }

  &.active {
    :first-child {
      opacity: 0;
      transform: translateY(-100px);
    }

    :nth-child(2) {
      transform: translateY(3px) rotate(45deg);
    }

    :last-child {
      transform: translateY(-3px) rotate(135deg);
    }
  }
}

.home {
  position: relative;
  min-height: 100dvh;
  height: max-content;

  .container {
    min-height: 100dvh;
    padding-top: 76px;
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__title-box {
    position: absolute;
    max-width: 620px;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    padding-right: 20px;
    line-height: 1.8;
    z-index: 2;
    color: $white;
    transition: all ease-in 0.4s;

    span {
      font-size: 32px;
    }

    &.transform {
      transform: translateX(0);
    }
  }

  &__title {
    font-size: 48px;
    width: max-content;
    display: inline;
  }

  &__description-box {
    position: absolute;
    max-width: 620px;
    right: 50%;
    top: 60%;
    padding-left: 20px;
    transform: translateX(50%);
    z-index: 2;
    transition: all ease-in 0.4s;

    &.transform {
      transform: translateX(0);
    }
  }

  &__description {
    display: inline;
    width: max-content;
    font-size: 26px;
  }

  &__arrow {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 60px;
    animation: shake-vertical 2s ease-out infinite both;
    background-image: url("../img/double-arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 2;
    opacity: 1;
    transition: opacity ease-in 0.4s;

    &.hidden {
      opacity: 0;
    }
  }
}

.section-title {
  font-size: 2.8rem;
  font-weight: 600;
  color: rgba(70, 70, 70, 0.5);

  span {
    max-width: 80%;
    margin-top: 40px;
    font-size: 1.1rem;
    line-height: 1.5;
    display: block;
    color: $white-gray;
    font-weight: 300;
  }
}

.about {
  padding: 80px 0;
  overflow: hidden;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__content {
    padding: 90px 0;
    display: flex;
    justify-content: space-around;
  }

  &__photo {
    max-width: 350px;
    filter: grayscale(0.1);
    opacity: 0;
    transform: translate(-200px);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  }

  &__img {
    width: 100%;
    border-radius: 8px;
  }

  &__info {
    max-width: 50%;
  }

  &__list {
    margin: 0;
    padding: 0 0 40px 15px;
    list-style: square;
  }

  &__item {
    margin-top: 10px;
    font-size: 1.2rem;
    line-height: 1.5;
    -webkit-text: $white-gray;
    color: $white-gray;
    opacity: 0;
    transform: translate(200px);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;

    &:first-child {
      margin-top: 0;
    }
  }

  &__link {
    margin-left: 10px;
    font-size: 1.8rem;
    color: $white-gray;
    transition: 0.4s;

    &:hover {
      color: $white;
    }
  }

  .animation {
    opacity: 1;
    transform: translate(0);
  }
}

.portfolio {
  padding: 80px 0;

  .section-title {
    margin-bottom: 50px;
  }

  &__slider {
    height: 645px;
    max-width: 1000px;
    padding: 20px 0;
    display: flex;
    margin: 0 auto;
    position: relative;

    .swiper {
      cursor: url("../img/scroll.png"), auto;
    }

    .swiper-pagination-bullet-active,
    .swiper-pagination-bullet {
      background: $blue;
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px;

      a {
        padding-right: 20px;
        display: flex;
        align-items: center;
        column-gap: 40px;
        border-radius: 8px;
        transition: all 0.5s;
        outline: 1px solid transparent;

        &:hover {
          outline-color: $blue;
        }
      }

      img {
        width: 250px;
        height: 170px;
        border-radius: 8px;
      }
    }

    .swiper-3d .swiper-slide-shadow-top,
    .swiper-3d .swiper-slide-shadow-bottom {
      background-image: none;
    }
  }

  &__desc {
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: 300;
    text-align: justify;
    color: $white-gray;
  }
}

.skills {
  padding: 80px 0;

  .container {
    height: 100%;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 140px 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px 130px;
    list-style: none;
  }

  &__image {
    width: 75px;
    height: 75px;
    opacity: 0;
    pointer-events: auto !important;
    transition: opacity 0.4s ease-in-out;
    z-index: 3;

    &:hover span {
      opacity: 1;
    }

    span {
      display: block;
      padding: 2px 7px;
      padding-top: 4px;
      position: absolute;
      top: auto !important;
      bottom: -30px;
      background-color: $blue;
      color: $dark;
      font-size: 14px;
      font-weight: 600;
      border-radius: 8px;
      z-index: 2;
      opacity: 0;
      transition: all ease-in 0.3s;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
  }

  .animation {
    opacity: 1;

    &:nth-of-type(even) {
      transition-delay: 0.2s;
    }
  }
}

.experience {
  padding: 80px 0;

  &__list {
    margin: 0 auto;
    padding: 100px 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  &__item {
    color: $white-gray;
    font-size: 1.2rem;
    line-height: 1.4;
    opacity: 0;
    transform: translateY(150px);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;

    a {
      color: $white-gray;
      text-decoration: underline;
      transition: color .3s ease-in-out;
      text-underline-offset: 4px;

      &:hover {
        color: $blue;
      }
    }
  }

  .animation {
    opacity: 1;
    transform: translateY(0);
  }
}

.contacts {
  padding: 80px 0 60px;

  &__list {
    padding: 100px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    width: 70px;
    height: 70px;
    padding: 8px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.4s;

    &:hover {
      box-shadow: 0 0 5px 2px $blue;
    }
  }

  &__link {
    text-decoration: none;
    display: block;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
